.nav-title-margin-c {
    margin-left: 16%;
    margin-right: 16%;
}

.card-margin-c {
    margin-left: 10%;
    margin-right: 10%;
}

.card-title {
    font-size: 30px;
}

p.temp-display {
    font-size: 70px
}

p.temp-display span.temp {
    font-size: 70px
}

p.temp-display sup span {
    font-size: 30px;
}

p.temp-display span.c_icon {
    font-size: 30px;
    margin-left: -20px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

.quick-whether {
    font-size: 50px;
    color: #08ca49;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#map {
    height: 400px;
    margin-left: 10%;
    margin-right: 10%;



}